/sample/nbproject/private/
/Bank/nbproject/private/
/Assignment2/nbproject/private/
/Assignment2/build/
/Polymorphism/nbproject/private/
/array/target/
/abc/nbproject/private/
/abc/build/
/Bank/build/
/pen/target/
/main/target/
/whole_sale_shop/target/
/micky/target/
/project_1/nbproject/private/
/project_1/build/
/activity1/target/
/helloworld/target/
/stringreverse/target/
/duplicatefin/target/
/duplicatefin2/target/
/array1/target/
